---
import AuthLayout from "../../../../layouts/AuthLayout.astro"
import Input from "../../../../components/Input.astro"
import Button from "../../../../components/Button.astro"
---

<AuthLayout
    heading="Forgot your password?"
    secondaryText="Reset your DarkScout account password now."
    boxWidth="479px"
    boxHeight="499px"
    showVector={true}
    showTermsText={true}
>
    <form class="forgot-password">
        <Input
            width="100%"
            label="New Password"
            name="New Password"
            placeholder="New Password"
            isPassword={true}
        />
        <Input
            width="100%"
            label="Confirm Password"
            name="Confirm Password"
            placeholder="Confirm Password"
            isPassword={true}
        />
    </form>
        <Button name="Reset Password"/>
</AuthLayout>

<style>

.forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    margin-top: 24px;
}

</style>
