---
import AuthLayout from "../layouts/AuthLayout.astro"
import Input from "../components/Input.astro"
import Button from "../components/Button.astro"
---

<AuthLayout heading="Forgot your password?" secondaryText="Reset your DarkScout account password now." boxHeight="398px">
    <form class="forgot-password">
        <Input label="Email" placeholder="Email" name="Email"/>
        <Button name="Reset Password"/>
    </form>
</AuthLayout>

<style>
.forgot-password{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
</style>
