---
import AuthLayout from "../layouts/AuthLayout.astro"
import Input from "../components/Input.astro"
import Button from "../components/Button.astro"
---

<AuthLayout
    heading="Forgot your password?"
    secondaryText="Reset your DarkScout account password now."
    boxWidth="479px"
    boxHeight="402px"
    showVector={true}
    showTermsText={true}
>
    <form action="/verify" class="forgot-password">
        <Input
            width="100%"
            label="Email"
            placeholder="Email"
            name="Email"
            required={true}
        />
        <Button
            name="Reset Password"
        />
    </form>
</AuthLayout>

<style>
.forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    margin-top: 24px;
}
</style>
