---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
        <div class="flex justify-center mt-20 gap-4 text-xl underline">
            <a class="font-bold"  href="/signin">Sign In</a>
            <a class="font-bold" href="/signup">Sign Up</a>
        </div>
	</main>
</Layout>

