---
interface Props {
    name: string;
}

const {name} = Astro.props
---
<button>{name}</button>

<style>
button {
    width: 80%;
    height: 40px;
    background-color: #4338CA;
    color: #C9CAE9;
    padding: 8px 16px 8px 16px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    line-height: 24px;
    border: none;
}

</style>
